<%= simple_form_for [library, activity] do |f| %>
  <%= f.input :name, placeholder: "writing a syllabus" %>

  <div class="button-group">
    <%= f.button :submit, "Save Activity", class: "button--primary" %>

    <% if activity.persisted? %>
      <%= link_to_if activity.advice.none?,
                     "Delete Activity",
                     library_activity_path(library, activity),
                     method: :delete,
                     "data-confirm": "Are you sure you want to delete this Activity?",
                     class: "button button--secondary" do %>
        <%= tag.span "Delete Activity",
                     class: "button button--secondary disabled",
                     title: "Update or delete connected Advice before deleting this Activity" %>
      <% end %>
    <% end %>
  </div>
<% end %>
